.totalDisplay {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: var(--background);
    border-top: 3px solid var(--border);
    box-sizing: border-box;
}

.totalInner {
    max-width: 1126px;
    margin-inline: auto;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.75rem;
}

.cartList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.5rem;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    font-family: var(--pixel-regular);
    font-size: 1rem;
    padding: 0.2rem 0;
}

.cartItemPrice {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.statusMessage {
    margin: 0;
    font-family: var(--pixel-regular);
    font-size: 0.875rem;
    visibility: hidden;
}

.statusMessage:not(:empty) {
    visibility: visible;
}

.totalCount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.totalAmount {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.totalText {
    font-family: var(--pixel-bold);
    font-size: 1.25rem;
    text-transform: uppercase;
}

.buyButton {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.totalAmount p {
    font-family: var(--pixel-regular);
    font-size: 1.25rem;
    line-height: 1;
    text-align: center;
}
