.genderSelect {
    border: none;
    padding: 0;
    margin: 1rem;
}

.genderSelectButtons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.genderSelectLegend {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}