.trainerAvatarPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: .125rem solid transparent;
}

.trainerAvatarPreview img {
    width: auto;
    height: 30vh;
    image-rendering: pixelated;
}