.btnDef {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btnDef img {
  display: block;
  width: 44px;
  height: 44px;
  object-fit: contain;
}
