.bottomNav {
  background-color: var(--ui-bg);
  display: flex;
  justify-content: left;
  position: sticky;
  bottom: 0;
  padding: 0.8em 1em 2em 1em;
  margin-top: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -5px 10px;
}
