.stickyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.8em 1em;
  background-color: var(--ui-bg);
  box-shadow: var(--light-shadow);
}

.stickyHeading {
  font-size: 2em;
  text-align: left;
  line-height: 0.9em;
  text-transform: uppercase;
  /* letter-spacing: 0.1em; */
  margin: 0;
}

.stickyContainer button {
  padding: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}
