.gameMenuBody {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.btnContainer {
  display: flex;
  grid-area: buttons;
  margin: 0.5em 1em;
}

.btnContainer > *:last-child {
  margin-left: auto;
}

@media (min-width: 768px) {
  .gameMenuBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "credits  credits"
      "actions actions"
      "profile  progress"
      "progress progress"
      "buttons buttons";
    gap: 1rem;
  }

  .creditsRow {
    grid-area: credits;
  }
  .profileCol {
    grid-area: profile;
    display: flex;
    flex-direction: column;
  }
  .actionsCol {
    grid-area: actions;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bossCol {
    grid-area: boss;
  }
  .progressRow {
    grid-area: progress;
    display: flex;
    flex-direction: column;
  }

  .bossActive {
    grid-template-areas:
      "credits  credits"
      "actions  actions"
      "profile  progress"
      "boss     boss"
      "buttons buttons";
  }
}
