.trackerContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 335px) {
  .trackerContainer {
    flex-direction: column;
    align-items: center;
  }
}

.livesRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.heartIcon {
  width: 32px;
  height: 32px;
  margin-right: 0.5em;
}

.creditsRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.starIcon {
  width: 32px;
  height: 32px;
}

.creditsText {
  font-size: 1.25rem;
}
