.trackerContainer {
  display: flex;
  justify-content: space-between;
}

.livesRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.heartIcon {
  width: 32px;
  height: 32px;
}

.creditsRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.starIcon {
  width: 32px;
  height: 32px;
}

.creditsText {
  font-size: 1.25rem;
}
