.creatureSelectFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.creatureSelectForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.creatureOptions {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.creatureTypeSelect {
    border: none;
    padding: 0;
    margin: 1rem;
}

.creatureTypeSelectLegend {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.errorMessage {
    font-size: 0.875rem;
    color: #c0392b;
}
